
.flex-container {
  display: flex;
  width: auto;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: flex-end;
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

nav.container{


}
span.navbar{
  color: MediumAquamarine;
}
