header {

}

header.container{
  display: inline-flex;
  font-family: Verdana;
  font-size: 14px
  font-weight: bold;
}

.navbar{


}

.bar{
  font-weight: bold;
  font-size: 18px;
  color: RGB(0, 238, 167);
}
